---
layout: default
productName: "The Complete Guide to Rails Performance"
---

<div class="hero blue-box" style="position:relative">
  <video autoplay loop id="bgvid">
    <source src="{{ 'assets/video/train.webm' | absolute_url }}" type="video/webm">
    <source src="{{ 'assets/video/train.mp4' | absolute_url }}" type="video/mp4">
  </video>
  <div class="container padding-y-lg" style="z-index: 1000">
    <div class="row">
      <div class="column">
        <h1 class="tproext-upcase text-center">Make your Rails app faster than a speeding train!</h1>
      </div>
    </div>

    <div class="row visible-sm text-center">
      <div class="column">
        <p>{% asset "img/cover-sm.jpg" %}</p>
      </div>
    </div>

    <div class="row">
      <div class="column column-60">
        <p class="text-large">
          <b>Learn how to transform your snail-paced Rails app into a sub-100 millisecond powerhouse.</b>
        </p>

        <p class="text-large">
          The Complete Guide to Rails Performance is a full-stack course that gives you the tools to make your Ruby
          on Rails applications
          <b>faster</b> and <b>more delightful for users</b>, <b>scale better</b> and <b>for less money</b>, and <b>take less effort to maintain</b>.
        </p>

        <p style="background: #FFF; color: #052041; text-transform: capitalize; font-variant: small-caps; text-align: center; border-radius: 5px; font-family: sans-serif; font-weight: bold">
          3rd Edition: Updated for Rails 4.2 through Rails 6.0
        </p>
      </div>
      <div class="column column-40 text-center visible-md visible-lg">
        {% asset 'img/cover-sm.jpg' %}
      </div>
    </div>
  </div>
</div>

<div class="container padding-y-lg">
  <div class="row margin-sm">
    <div class="column column-70">
      <h3 class="red-underline">Performance is hard.</h3>

      <div class="meta-p">
        <h4>Why is your Rails application slow?</h4>
        <p>It didn't start that way. Your app started as a lean, mean web machine. Customers are complaining. The Redis server is on fire, and the database ran out of memory last week.</p>
      </div>

      <div class="meta-p">
        <h4>When did your pages start taking 5 seconds to load?</h4>
        <p>Searches bog down, your caches are bursting at the seams, and your server is constantly out of memory. 5 seconds is a lifetime. You're spending thousands per month on servers and you don't know why.</p>
      </div>
    </div>
    <div class="column column-30 col-center">
      {% asset "img/lost.gif" %}
    </div>
  </div>
  <div class="row margin-sm">
    <div class="column column-30 col-center">
      {% asset "img/thisisfine.jpg" %}
    </div>
    <div class="column column-70">
      <div class="meta-p">
        <h4>Rewrites are expensive. Optimization is cheap.</h4>
        <p>
          Hacker News says it's because Ruby is fatally flawed.
          It's a slow language, doomed to fail in a land of Go, Javascript, Erlang and others.
          That’s BS.
        </p>
        <p>
          Look at Shopify, Github and Basecamp. They're all Rails applications and some of the most popular websites in the world. <b>How do these Rails applications
          achieve sub-100 millisecond response times</b> at massive (dare I say, Web™) Scale? What if I told you it wasn't even that hard?
        </p>
      </div>
    </div>

  </div>
  <div class="row margin-sm">
    <div class="column column-70">
      <h4>Why is this so difficult? Is DHH sacrificing chickens in his backyard?</h4>
      <p>
        The secret is that Rails apps aren't slow or hard to scale by default - they die a slow
        death by a thousand papercuts. This course is about each one of those thousand papercuts.
      </p>
      <p>
        But you don't have a team of 30 or more experienced programmers, like
        Shopify, Github and Basecamp do. And let's be real - you're not DHH.
        Maybe you're a startup CTO with a business to run - you can't spend hundreds
        of hours tracking down performance bugs.
      </p>
    </div>
    <div class="column column-30 col-center">
      {% asset "img/pokemon.gif" %}
    </div>
  </div>
</div>

<div class="pull-quote">
  <div class="container">
    Almost every Rails application suffers from the same performance and scaling problems.
    This course will show you the techniques that will give you the speeding bullet of a website that your customers demand.
  </div>
</div>

<div class="container padding-y-lg">
  <div class="row">
    <div class="column column-70 column-offset-15">
      <h2>Introducing:<br> The Complete Guide to Rails Performance</h2>

      <p>
        My name is Nate Berkopec. I'm a Rails developer and a speed freak. I also maintain Puma - my code is probably already running on your servers, today.
      </p>

      <p>
        Over the past 10 years, I've seen dozens of different Rails codebases.
        Many were for well-funded startups, from Ivy-League incubators like YCombinator or 500Startups.
        Others were the passion projects of developers looking to start a side business.
      </p>

      <p>
        I've consulted for dozens of clients on making their Rails apps faster, and taught hundreds at workshops.
      </p>

      <p>
        But I've never met a Rails application I couldn't make faster.
      </p>

      <h4>A slow app is expensive</h4>

      <p>Did you know that an extra second of load time reduces revenue by 5 to 10%? This result has been experimentally verified at dozens of companies large and small.</p>

      <p>If your business is doing $1 million per year, reducing browser load times by 1 second will increase revenue by $50,000 to $100,000 per year. <b>I can show you how to make your site faster and grow your business by at least that much and more</b>.<p>

      <p>Did you know that most Rails applications I've seen in my consulting gigs have been spending more than 2x per month what they needed to?</p>

      <p>Most Rails applications should be spending thousands of dollars per month less than they are now. I'll show you how to audit and fix your server spending.</p>

      <h4>Performance is hard. Let me help you.</h4>

      <p>
        Performance isn't easy. Delivering an HTML response to the browser
        actually involves hundreds of technologies and levels of the stack.
        <b>Constructing a fast website is a bit like constructing a house of cards -
          a problem anywhere in the stack can cause it all to collapse.</b>
      </p>

      <p>
        Any of these levels or stacks can go wrong, causing a slowdown in your application:
      </p>

      <div class="mini-list padding-md row row-wrap">
        <div class="column column-50">
          <div class="icon-list-item">
            <h4>Front-end</h4>
            <span>HTML, CSS and JavaScript, rendering quirks and browser preloaders.</span>
          </div>
        </div>
        <div class="column column-50">
          <div class="icon-list-item">
            <h4>Network</h4>
            <span>SSL/TLS, HTTP, HTTP/2, TCP, WebSockets.</span>
          </div>
        </div>
        <div class="column column-50">
          <div class="icon-list-item">
            <h4>Ruby</h4>
            <span>Rails, the numerous gems you use in your application, and your runtime.</span>
          </div>
        </div>
        <div class="column column-50">
          <div class="icon-list-item">
            <h4>Server</h4>
            <span>Do you know how your memory allocator may be affecting your performance?</span>
          </div>
        </div>
      </div>

      <p>
        Performance optimization on a full-stack web application is like looking for a black cat in a coal cellar - any one of a thousand things could be the bottleneck for your application. Where do you even start?
      </p>

      <p>
        Worse, no full-stack developer who writes code for a living can keep on top of all of these developments at once. My guide for optimizing Rails applications covers the entire stack.
      </p>

      <p>
        <b>Wouldn't it be amazing if you could look over the shoulder of an experienced, full-stack Rails developer</b> and watch as they diagnose and solve the performance problems of one of the most popular Rails applications in the world?
      </p>

      <p>
        Here's your chance.
      </p>

      <h2 class="margin-md">WATCH ME OPTIMIZE PRODUCTION RAILS APPS AND APPLY THE LESSONS BACK TO YOUR OWN SITE.</h2>

      <p>I’ve created an exhaustive checklist for speeding up Rails applications:</p>

      <ul>
        <li><b>Implemented 34 strategies</b> that have been tested by more than 1 million unique visitors.</li>
        <li><b>Identified the 4 strategies</b> that account for the most performance impact. These strategies have solved 80% of performance problems in most applications.</li>
        <li><b>Used more than 20 different SaaS providers</b>, performance-oriented <b>Rubygems</b>, backend <b>service providers and more</b> and found the perfect technical stack to make the entire performance optimization process simple (even if you’re a new developer or someone with a deep technical background).</li>
      </ul>

      <p>
        These strategies have been tested and proven on my clients' sites and others.
      </p>

      <p>
        While preparing this course, I’ve implemented each of my performance
        strategies on production websites like rubygems.org, sidekiq.org, the official
        Ruby website, and more.
      </p>

      <h4>Look over my shoulder while I work</h4>

      <p>
        <b>Production websites will serve as your example</b> and guide to each and
        every one of the strategies in this guide.
      </p>

      <p>
        This is an opportunity to virtually pair program with an experienced Rails
        developer (me!) and work on a high-scale application.
      </p>

      <h4>Easy-to-follow, even for bloated legacy apps</h4>

      <p>
        You’ll see the before and after, comparing the impact of each strategy
        through actual production metrics. It’s broken down into simple,
        step-by-step processes that cover every layer of a Rails application’s
        stack.
      </p>

      <p>
        <b>At the end of each lesson is a simple checklist</b> so you can implement
        what you’ve learned. There’s no guesswork. Just follow the plan, and your
        performance analytics will start sloping down and to the right.
      </p>

      <p class="text-center">
        {% asset "img/newrelic.jpg" %}
      </p>
    </div>
  </div>
</div>

<div class="blue-box padding-y-lg">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2>What does this course cover?</h2>
      </div>
    </div>

    <div class="row text-center">
      <div class="column column-70 column-offset-15">
        <p>
          The entire Complete Guide to Rails Performance — all strategies, checklists — are broken into four modules to ensure that you don’t get
          overwhelmed. You'll easily and methodically chip away at your Rails
          application’s performance. The course applies to Rails 4.2 through Rails 6.0.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="icon-list">
  <div class="container">
    <div class="row row-wrap">
      <div class="column column-20 text-center">
        {% asset "img/Profiling.png" %}
      </div>
      <div class="column column-30 icon-list-item">
        <h4>Profiling &amp; Benchmarking</h4>
        <p>
          Learn how to identify what areas are causing bottlenecks. Don’t waste
          time “spraying and praying”, optimizing every thing on your site.
          Learn how to identify what areas account for 80% of the slowdown.
        </p>
      </div>
      <div class="column column-20 text-center">
        {% asset "img/Frontend.png" %}
      </div>
      <div class="column column-30 icon-list-item">
        <h4>Frontend</h4>
        <p>
          I cover all the performance problems you can encounter in JavaScript,
          HTML, and CSS. In addition, I’ll deep dive on HTTP and how the
          browser works, so that you will reduce your frontend load times by more than 80%.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column column-20 text-center">
        {% asset "img/Backend.png" %}
      </div>
      <div class="column column-30 icon-list-item">
        <h4>Backend</h4>
        <p>
          We'll discuss everything in the Ruby and Rails world that can make your application slow.
          What gems to use, which to avoid, and how to write Ruby that's zippy quick.
          You'll learn about how Rails works while avoiding the common pitfalls
          that make Rails apps slow.
      </div>
      <div class="column column-20 text-center">
        {% asset "img/Environment.png"  %}
      </div>
      <div class="column column-30 icon-list-item">
        <h4>Environment</h4>
        <p>
          This is truly a full-stack book - I'll discuss asset delivery, CDNs,
          DNS, server hardware and more.
      </div>
    </div>

    <div class="row margin-sm">
      <div class="column text-center">
        <b>This course covers the "average" Rails application stack</b>, though
        there are specific strategies and lessons on JRuby and alternative
        memory allocators. We'll discuss when it is and when it isn't appropriate
        to leave the "golden path."
      </div>
    </div>


    <div class="row row-wrap">
      <div class="column column-33">
        <h3 class="red-underline text-upcase">10 more things you'll learn in this course:</h3>
      </div>
      <div class="column column-33 text-small">
        <p>
          Will JRuby (or Opal or Rubinius) make my application faster?
        </p>
        <p>
          Which application server (Unicorn, Puma, Passenger, etc.) is best for my application?
        </p>
        <p>
          How can I make sure I'm not over-scaled and running on too many servers?
        </p>
        <p>
          How can I debug a slow ActiveRecord query?
        </p>
        <p>
          What special areas do I need to look for as my application scales?
        </p>
      </div>
      <div class="column column-33 text-small">
        <p>
          What cache backend should I choose?
        </p>
        <p>
          How can I track down and fix a memory leak?
        </p>
        <p>
          How can I use Turbolinks without breaking Google Analytics or any of my
          other JavaScript?
        </p>
        <p>
          How do I make my Rails application as fast as a Sinatra app?
        </p>
        <p>
          What's the optimal order of elements in the head tag?
        </p>
      </div>
    </div>
  </div>
</div>

<div class="grey-box padding-lg">
  <div class="container">
    <div class="row text-center">
      <div class="column column-70 column-offset-15">
        <p class="text-large margin-none">
          The Complete Guide to Rails Performance course is available online.<br>
          <b>Here is what your course will include:</b>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container padding-y-lg">
  <div class="row margin-sm">
    <div class="column column-50">
      <h3 class="red-underline">The Core Guide</h3>

      <div class="meta-p">
        <h4>375 Pages in PDF, HTML, E-Reader (EPUB/MOBI) and JSON formats</h4>
        <p>
          Available in just about every format possible, you can read The Complete
          Guide on any device you want. No MOOC software required - the Complete
          Guide is distributed as a simple .zip file!
        </p>
      </div>

      <div class="meta-p">
        <h4>A Step-by-Step Checklist</h4>
        <p>
          Included in the Complete Guide is a list of more than 100 action items
          for making your Rails application as fast as possible.
        </p>
      </div>
    </div>
    <div class="column column-50 col-center text-center">
      {% asset "img/cover-md.jpg" %}
    </div>
  </div>
  <div class="row margin-sm">
    <div class="column column-50">
      <h3 class="red-underline">Even More!</h3>
      <h4>Private Slack Channel</h4>
      <p>
        A private Slack channel where you can discuss Rails performance with me
        and all of the other course participants.
      </p>
    </div>
    <div class="column column-50 col-center">
      {% asset "img/slack.jpg" %}
    </div>
  </div>
</div>

<div class="pull-quote">
  <div class="container">
    <div class="row">
      <div class="column">
        How will you read it? Immediately after purchasing, you'll be sent a private
        link where you can jump in and start the course immediately. You should
        be watching the first workshop 5 minutes from now.
      </div>
    </div>
  </div>
</div>

{% include pricing.html %}

<div class="container padding-y-lg">
  <div class="row margin-sm">
    <div class="column column-70">
      <h3>About the Author</h3>

      <p class="meta-p">
        <b>Nate Berkopec</b> is a Ruby performance guy.
        Nate appeared on Shark Tank, ABC's primetime entrepreneurship show,
        when he was nineteen years old. He's worked at several startups over
        the years, and now writes a blog about performance-related Ruby topics.
      </p>

      <p class="meta-p">
         Nate is a contributor to several open source projects, such as Ruby on Rails and Sentry.
         He has been a speaker at RubyFuza, RubyKaigi, GORUCO, RubyConf,
         and RailsConf.
      </p>
    </div>
    <div class="column column-30 col-center">
      {% asset "img/nate.jpg" %}
    </div>
  </div>
</div>

<div class="grey-box padding-y-lg">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2>Frequently Asked Questions</h2>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>Can I see a table of contents?</h4>
          <p>
            Yes! <a href="https://gist.github.com/nateberkopec/1c9bb9532b8f3ee6e4a7ebd18403f8f6">Here's a table of contents.</a>
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>Is there anyone I can contact during the course if I have questions about my site in particular?</h4>
          <p>
            Yes. All course participants receive access to a private Slack
            channel where you can discuss problems and solutions. I'll be sitting
            in that channel all day. Making your site
            faster is my job.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>Will this course continue to be updated? And will I get free access to future versions?</h4>
          <p>
            Yes. The software world changes quickly. Any changes to the course
            are free to you forever - you will never be asked to upgrade or buy
            "version two" or buy again when Rails 8 comes out.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>How much more is in the course vs. what you already put out on your blog?</h4>
          <p>
            About 25% of the material in the course is broadly covered by my blog. However, even for material that I've covered on the blog already, this course goes much further in depth and expands on those posts.

            Think of my blog as the introduction. This course is the college class.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>Do I need to be an advanced Rails programmer or Rubyist to understand this course?</h4>
          <p>
            No. This course assumes about 3 months of Rails experience, no more.
            I hate technical writing that assumes the reader is some kind of
            genius and doesn't explain (or even just link to an explanation)
            everything that's going on.

            In addition, even if you're not *completely* sure you've understood
            a topic, you can ask me and your fellow participants on our private
            Slack channel.

            Finally, if you buy the course and decide its over your head, I'll
            refund your money. No questions asked.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>I can't afford this course!</h4>
          <p>
            Think about it this way - can your business (or the business you work for) afford to be slow? Can you afford users quitting when they get frustrated with your site's speed?

            In 5 years, will you wish your site was slower? No. You'll wish it was faster.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>Does this course apply to my small site? I only get 10 requests per minute.</h4>
          <p>
            Customers demand speed - they won't wait around for you to figure out.
            If you (or your customers) are not satisfied with the speed of your
            Rails application, this course will work for you.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>What stack will be covered? What about frontend JS frameworks?</h4>
          <p>
            This course focuses on the typical Rails stack. In my opinion, that
            includes a SQL relational database. I include a specific section on Postgres, because
            it has several unique features and it's so widely used. JS frameworks
            are not covered (I won't tell you how to optimize React,
            for example), but I will cover the specific needs of an API-only
            application.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-md">
      <div class="column column-70 column-offset-15">
        <div class="white-box padding-md">
          <h4>Is this course appropriate for legacy applications?</h4>
          <p>
            I've worked on a lot of "legacy" applications. They tend to be slow, so this course *focuses* on legacy
            applications. However, I'm not going to talk about
            optimizing previous major versions of anything - Rails 3, Ruby
            1.9, etc. As of time of writing (October 2019), this course covers
            Rails 4, Rails 5 and Rails 6.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include pricing.html %}
