<div class="blue-box padding-y-lg">
  <div class="container">
    <div class="row pricing-boxes">
      <div class="column">
        <div class="container white-box margin-sm">
          <div class="text-center">
            <h3>The Book</h3>

            <h4 class="price">$50</h4>
          </div>

          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_lessons.png" %}</span>
            <span style="display: flex; align-items: center"><span>4 modules with <b>over 30 lessons</b> covering <b>350 pages of content</b>.</span></span>
          </div>
          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_slack.png" %}</span>
            <span style="display: flex; align-items: center"><span>A <b>private Slack channel</b> with the author and your fellow course participants.</span></span>
          </div>
          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_kindle.png" %}</span>
            <span style="display: flex; align-items: center"><span><b>PDF/Kindle/EPUB/Mobi</b> versions for reading on the go.</span></span>
          </div>

          <div class="text-center">
            <a href="https://gum.co/grRk" class="button">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column-50 column-offset-25">
        <div class="yellow-box text-center padding-md">
          <h4>100% Satisfaction Guaranteed</h4>
          <p>
            If you do what I show you and don't get results, I will give you 100% of your money back.
            If you're not completely satisfied, I don't want your money.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
