<div class="blue-box padding-y-lg">
  <div class="container">
    <div class="row pricing-boxes">
      <div class="column">
        <div class="container white-box margin-sm">
          <div class="text-center">
            <h3>Just The Book </h3>

            <h4 class="price">$99</h4>
          </div>

          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_lessons.png" %}</span>
            <span style="display: flex; align-items: center"><span>4 modules with <b>over 30 lessons</b> covering <b>350 pages of content</b>.</span></span>
          </div>
          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_slack.png" %}</span>
            <span style="display: flex; align-items: center"><span>A <b>private Slack channel</b> with the author and your fellow course participants.</span></span>
          </div>
          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_kindle.png" %}</span>
            <span style="display: flex; align-items: center"><span><b>PDF/Kindle/EPUB/Mobi</b> versions for reading on the go.</span></span>
          </div>

          <div class="text-center">
            <a href="https://gum.co/grRk" class="button">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container white-box margin-sm">
            <div class="text-center">
              <h3>The Web-Scale Package</h3>

              <h4 class="price">$199</h4>
            </div>
            <div class="column">
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_lessons.png" %}</span>
                <span style="display: flex; align-items: center"><span>4 modules with <b>over 30 lessons</b> covering <b>350 pages of content</b>.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_slack.png" %}</span>
                <span style="display: flex; align-items: center"><span>A <b>private Slack channel</b> with the author and your fellow course participants.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_kindle.png" %}</span>
                <span style="display: flex; align-items: center"><span><b>PDF/Kindle/EPUB/Mobi</b> versions for reading on the go.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_screencasts.png" %}</span>
                <span style="display: flex; align-items: center"><span>Over <b>20 screencasts</b>, totaling more than 5 hours of HD video content not covered by the lessons.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_qa.png" %}</span>
                <span style="display: flex; align-items: center"><span>6 recorded <b>Q&amp;A</b> sessions.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% asset "img/icon_interview.png" %}</span>
                <span style="display: flex; align-items: center"><span>10 <b>interviews</b> (in video and mp3 formats) with accomplished Rubyists, including 2 Rails core team members and 2 Rails committers.</span></span>
              </div>

              <div class="text-center" style="margin-top: 28px">
                <a href="https://gum.co/rails-speed-web-scale" class="button">Buy Now</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column-50 column-offset-25">
        <div class="yellow-box text-center padding-md">
          <h4>100% Satisfaction Guaranteed</h4>
          <p>
            If you do what I show you and don't get results, I will give you 100% of your money back.
            If you're not completely satisfied, I don't want your money.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
