<div class="blue-box padding-y-lg">
  <div class="container">
    <div class="row pricing-boxes">
      <div class="column">
        <div class="container white-box margin-sm">
          <div class="text-center">
            <h3>Just The Book </h3>

            <h4 class="price">$99</h4>
          </div>

          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_lessons.png" %}</span>
            <span style="display: flex; align-items: center"><span>4 modules with <b>over 30 lessons</b> covering <b>300+ pages of content</b>.</span></span>
          </div>
          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_slack.png" %}</span>
            <span style="display: flex; align-items: center"><span>A <b>private Slack channel</b> with the author and your fellow course participants.</span></span>
          </div>
          <div class="visible-flex">
            <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_kindle.png" %}</span>
            <span style="display: flex; align-items: center"><span><b>PDF/Kindle/EPUB/Mobi</b> versions for reading on the go.</span></span>
          </div>

          <div class="text-center">
            <button>Buy Now</button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="container white-box margin-sm">
            <div class="text-center">
              <h3>The Full Package</h3>

              <h4 class="price">$199</h4>
            </div>
            <div class="column">
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_lessons.png" %}</span>
                <span style="display: flex; align-items: center"><span>4 modules with <b>over 30 lessons</b> covering <b>300+ pages of content</b>.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_slack.png" %}</span>
                <span style="display: flex; align-items: center"><span>A <b>private Slack channel</b> with the author and your fellow course participants.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_kindle.png" %}</span>
                <span style="display: flex; align-items: center"><span><b>PDF/Kindle/EPUB/Mobi</b> versions for reading on the go.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_screencasts.png" %}</span>
                <span style="display: flex; align-items: center"><span>Over <b>30 screencasts</b>, totaling nearly 11 hours of content not covered by the lessons.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_qa.png" %}</span>
                <span style="display: flex; align-items: center"><span>6 live video <b>Q&amp;A</b> sessions. If I was a dork, I'd call them webinars.</span></span>
              </div>
              <div class="visible-flex">
                <span style="margin-right: 1em; min-width: 100px">{% image "img/icon_interview.png" %}</span>
                <span style="display: flex; align-items: center"><span>An <b>interview series</b> with accomplished Rubyists.</span></span>
              </div>

              <div class="text-center">
                <button>Buy Now</button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row pricing-boxes margin-sm">
      <div class="column">
        <div class="white-box">
          <div class="row">
            <div class="column text-center col-center">
              <h3>Corporate Package</h3>

              <h4 class="price">Custom</h4>

              <button>Sign Up My Company</button>
            </div>

            <div class="column">
              <p>A corporate license for the complete and unabridged Complete Guide
                 to Rails Performance, providing access for your entire team.
              </p>

              <p>Everything that's included in the Web-Scale Package.</p>

              <p>Private Q&amp;A session with me and your team.</p>

              <p>1-Day Performance Workshop where I pair with your team on your application.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column-50 column-offset-25">
        <div class="yellow-box text-center padding-md">
          <h4>100% Satisfaction Guaranteed</h4>
          <p>
            If you do what I show you and don't get results, I will give you 100% of your money back.
            If you're not completely satisfied, I don't want your money.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
